.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-container {
  display: flex;
  font-size: 18px;
  background-color: #fff;
  margin-top: 20px;
  flex-direction: column;
}
.item-container {
  background-color: #fff;
  border: 0.5px solid #aaa;
  border-radius: 8px;
  padding: 25px 40px;
  margin: 15px 50px;
}